
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <title>Index</title>
</head>
<body>
    <div>
        <h2>The more you buy the more you save!</h2>
        @*<table>
            <tr>
                <th>Product name</th>
                <th>Quantity</th>

            </tr>


                <tr>
                    <fieldset>
                        <div>
                            @Html.DropDownList("Name",
                                (SelectListItem)ViewBag.Products,
                                "select one"
                                )
                            </div>
                        </fieldset>
                            @using (Html.BeginForm("OrderNow", "ShoppingCart", new { id = Model.ProductId }))
                            {
                        <td>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBox("quantity")
                            @Html.ValidationMessageFor(y => y, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <input type="submit" value="Go to checkout">
                        </td>
                    }
                </tr>

        </table>*@
        <!--<fieldset>
        @Html.Label("Select Product")-->
        <!-- Dropdown for Products -->
        <!--@Html.DropDownList("Products", "ProductId")
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </fieldset>
        @using (Html.BeginForm("OrderNow", "ShoppingCart", new { id = Model.ProductId }))
        {
            <fieldset>
                <div class="form-group">
                    @Html.TextBox("quantity")
                    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                </div>
                <div>
                    <input type="submit" , value="Go to checkout" />
                </div>
            </fieldset>
        }
    </div>-->
</body>
</html>
